body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 20px;
}

input, textarea, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}

header {
    display: flex;
    justify-content: space-between;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px 0;
}

.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
}
